<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title><%= current_page.data.title %></title>

    <link rel="canonical" href="http://zhusee2.github.io/web-speech/" />
    <meta property="og:locale" content="zh_TW" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://zhusee2.github.io/web-speech/<%=image_path('og_image.jpg')%>" />

    <%= stylesheet_link_tag "normalize", "icons", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>